{
	"env": {
		"browser": true
	},
	"parser": "babel-eslint",
	"extends": [
		"airbnb",
		"plugin:react/recommended",
		"prettier",
		"prettier/react"
	],
	"plugins": [
		"react",
		"jsx-a11y",
		"import",
		"prettier"
	],
	"rules": {
		"jsx-a11y/anchor-is-valid": 0
	}
}